* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 body {
    background-color:#4a4e69;
    
} .nav {
    margin-top: 0;
    width: 100%;
    background-color:#f8f9fa;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1{
    color: #f8f9fa;
}

.nav h2 {
    font-weight: bold;
    color: #333;
}

#container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#ib {
    background-color: rgb(245, 246, 249);
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#ib:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#ib input {
    background-color: transparent;
    border: none;
    width: 250px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
    outline: none;
}

#ib input::placeholder {
    color: #888;
    opacity: 0.7;
}

#ib button {
    background: linear-gradient(135deg, #6b73ff, #000dff);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#ib button:hover {
    background: linear-gradient(135deg, #000dff, #6b73ff);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#ib button:active {
    transform: scale(0.95);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

#li-items {
    width: 100%;
    max-width: 600px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color:#888;
    color: black;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

li .complete-checkbox {
    margin-right: 10px;
    transform: scale(1.5);
    cursor: pointer;
}

li .item-text {
    flex-grow: 1;
    word-break: break-word;
}

li .delete-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

li .delete-icon:hover {
    color:#fff;
}

.completed {
    background: #333;
    text-decoration: line-through;
    color: white;
}

@media (max-width: 600px) {
    #ib {
        width: 80%;
    }

    li {
        font-size: 14px;
        padding: 8px 10px;
    }

    li .delete-icon {
        font-size: 16px;
    }
}
